<%= render 'shared/navbar' %>
<div class="h-100 vh-75 mt-5">
  <div class="d-flex bg-white justify-content-center h-100 shadow" data-controller="toggle">
    <div class="m-3 user-bg-info-wed rounded-4 shadow">
      <%= render "wedding_info" %>
    </div>
    <div class="flex-grow-1 h-100">
      <%= render "users/wedding_data/dados_casamento" %>
    </div>
  </div>
</div>
